:root {
  --color-brand: #fd9222;
  --color-primary: #111;
  --color-primary-light: #fff;
  --color-primary-tr: #ffffffb2;
  --color-background-darck: #1e1823;
  --color-background-light: #fafafa;
}
body {
  color: var(--color-primary);
  font-family: Montserat, sans-serif;
  background-color: var(--color-background-light);
  font-size: 14px;
}
/*Global*/
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
ul {
  padding-inline-start: 0;
  list-style-type: none;
  margin: 0;
}
button {
  font-family: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

.visually-hidden {
  height: 1px;
  overflow: hidden;
  width: 1px;
}
.button-primary {
  font-family: inherit;
  color: var(--color-primary-light);
  background-color: var(--color-brand);
  cursor: pointer;
  border: none;
  border-radius: 100px;
  padding: 14px 40px;
  font-weight: 600;
  line-height: 1.21;
}
.button-primary:hover {
  color: var(--color-brand);
  background-color: #fcf1e0;
}
.section {
  padding: 64px 0;
}

.section-title {
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 50px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 32px;
}
/*header*/
.header {
  padding-bottom: 8px;
}
.header-inner {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  align-items: center;
}
.header-socials {
  display: flex;
  gap: 18px;
}
.header-socials-link {
  stroke: var(--color-primary);
  fill: none;
  transition: stroke 0.2s;
}

.header-socials-link:hover {
  stroke: var(--color-brand);
}
.header-nav {
  display: flex;
  gap: 24px;
  align-items: center;
  flex-grow: 1;
}
.logo {
  display: flex;
  gap: 4px;
  align-items: center;
  color: var(--color-primary);
  font-size: 18px;
  font-weight: 700;
  line-height: 20px; /* 111.111% */
  letter-spacing: -0.54px;
  text-transform: uppercase;
}
.logo-accent {
  font-style: italic;
}
.nav-link {
  display: inline-block;
  padding: 24px 0;
  color: var(--color-primary);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
}
.nav-link:hover {
  color: var(--color-brand);
}
.nav-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  flex-grow: 1;
}
/*END header*/

/*hero section*/
.hero-section {
  padding-bottom: 72px;
}
.hero-inner {
  padding: 380px 40px 40px;
  background-color: var(--color-background-darck); /*replase with image*/
  border-radius: 30px;
  background-image: url(../images/chocolate-fon.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  margin-bottom: 32px;
  max-width: 484px;
  color: var(--color-primary-light);
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: 0.03em;
  margin-bottom: 32px;
}
.hero-actions {
  display: flex;
  gap: 14px;
  align-items: center;
}
.button-hero {
  color: var(--color-primary-light);
  border: 1px solid currentColor;
  border-radius: 100px;
  padding: 14px 40px;
  font-weight: 600;
  line-height: 1.21;
}

.button-hero:hover {
  color: var(--color-brand);
}
.scrol-arrow-link {
  width: 38px;
  height: 38px;
}
.hero-arrow {
  display: flex;
  gap: 14px;
  margin-left: auto;
  align-items: center;
  color: var(--color-primary-light);
  font-family: Montserrat;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.03em;
}

.hero-arrow:hover {
  color: var(--color-brand);
}

.hero-arrow-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  fill: var(--color-brand);
  background-color: var(--color-primary-light);
  border-radius: 50%;
  animation: bounce 1.5s infinite reverse;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
}

.hero-arrow:hover .hero-arrow-link {
  fill: var(--color-primary);
}

.hero-scroll-down:hover {
  color: var(--color-brand);
}
/*END hero section*/

/*advatage section*/
.advantages-fon {
  padding: 50px 0;
  background-color: var(--color-background-darck);
}
.advantage-icon {
  width: 62px;
  height: 62px;
  margin-bottom: 22px;
  border: 1px solid var(--color-primary-tr);
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--color-brand);
}
.box {
  position: absolute;
  top: 0;
  right: 0;
}
.advantages-title {
  margin-bottom: 18px;
  color: var(--color-background-light);
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.advantages-list {
  display: flex;
  gap: 70px;
}
.advantages-item:not(:last-child) {
  padding-right: 18px;
  border-right: 1px solid var(--color-primary-tr);
}
.advantages-text {
  color: var(--color-primary-tr);
  font-weight: 400;
  line-height: 1.21;
  letter-spacing: -0.02em;
}
/*END advatage section*/

/*ingridients-section*/

.ingridients-subtitle {
  text-align: center;
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.02em;
}
.ingridients-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.ingridients-item {
  flex-basis: calc((100% - 60px) / 4);
}
.ingridient {
  border: 1px solid var(--color-brand);
  border-radius: 15px;
  padding: 28px;
}
/* END ingridients-section*/

/*video-section*/
.video-inner {
  display: flex;
  gap: 20px;
}
.video-backgraund {
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}
.media-title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.video-media {
  flex-basis: calc((100% -20px) / 2);
}
.video-play {
  display: none;
}
.media-content {
  flex-basis: calc((100% -20px) / 2);
  padding: 32px;
}

/*END video-section*/

/*Produkts section*/

/*END Produkts section*/

/*Reviews section*/
.reviews-list {
  display: flex;
  gap: 28px;
}
.reviews-item {
  flex-basis: calc((100% -56px) / 3);
}

.review {
  position: relative;
  padding: 56px 24px 42px;
  text-align: center;
  border: 1px solid var(--color-primary-tr);
  background-color: var(--color-background-light);
  box-shadow: 0px 9px 26px 0px rgba(215, 228, 249, 0.25);
  border-radius: 15px;
}

.review-image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*END Reviews section*/
