:root {
  --color-brand: #fd9222;
  --color-primary: #111;
  --color-primary-light: #fff;
  --color-background-darck: #1e1823;
  --color-background-light: #fafafa;
}
.logo {
  color: var(--color-primary);
}
.nav-link {
  color: var(--color-primary);
}
.nav-link:hover {
  color: var(--color-brand);
}
.hero-section {
  background-color: var(--color-background-darck); /*replase with image*/
}
.hero-title {
  color: var(--color-primary-light);
}
.button-primary {
  color: var(--color-primary-light);
  background-color: var(--color-brand);
  cursor: pointer;
  border: none;
  border-radius: 100px;
  padding: 14px 40px;
}
.button-primary:hover {
  color: var(--color-brand);
  background-color: #fcf1e0;
}

.button-secondary {
  color: var(--color-primary-light);
  border: 1px solid currentColor;
  border-radius: 100px;
  padding: 14px 40px;
}

.button-secondary:hover {
  color: var(--color-brand);
}
.hero-scroll-down {
  color: var(--color-primary-light);
}

.hero-scroll-down:hover {
  color: var(--color-brand);
}
